<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuxun.com.liuxun.service1.mapper.OrderDao">
    <insert id="insertOrder" parameterType="com.liuxun.com.liuxun.service1.entity.Order">
        INSERT INTO `order` VALUES  (#{id},#{productId},#{payId},#{paySum},#{payStatus},#{userRemark})
    </insert>
    <insert id="insertBatchOrder">
        INSERT INTO `order` VALUES
        <foreach collection="list" separator="," item="item" index="index">
            (#{item.id},#{item.productId},#{item.payId},#{item.paySum},#{item.payStatus},#{item.userRemark})
        </foreach>
    </insert>
    <delete id="deleteOrder" >
        DELETE FROM `order`
    </delete>
</mapper>